/build/ export-ignore
/coverage/ export-ignore
/outputs/ export-ignore
/rpm-outputs/ export-ignore
/iso-release/ export-ignore
/iso-realese/ export-ignore
/docs/road.md export-ignore
/docs/road-plan.md export-ignore
/docs/old/ export-ignore
/COPR.md export-ignore
/durum.md export-ignore
/eksikler.md export-ignore
/implementation_plan.md export-ignore
/kernel-black-screen-diagnostics.md export-ignore
/optimizasyon.md export-ignore
/plan.md export-ignore
/test.md export-ignore
/docs/git-yukleme-notu.md export-ignore
/docs/grafik-driver-politikasi.md export-ignore
/docs/profesyonel-installer-ana-plani.md export-ignore
/docs/ro-apps-packaging-notu.md export-ignore
/docs/siyah-ekran-kernel-notlari.md export-ignore
/docs/sonraki-adim-notu.md export-ignore
/docs/yeni-makine-qemu-rehberi.md export-ignore
/gerçeksistemdenloglar/ export-ignore
/linux/flutter/ephemeral/ export-ignore
/.codex/ export-ignore
/.agents/ export-ignore
/.dart_tool/ export-ignore
/.idea/ export-ignore
/.copr-srpm-tmp/ export-ignore
/stitch_velvet_nebula_installer_redesign/ export-ignore
*.iso export-ignore
*.qcow2 export-ignore
*.fd export-ignore
*.rpm export-ignore
*.src.rpm export-ignore
*.tar.gz export-ignore
*.pyc export-ignore
*.log export-ignore
