<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Ro-ASD</vendor>
  <vendor_url>https://github.com/ASD-Team/ro-Installer</vendor_url>

  <action id="org.roasd.installer.run">
    <description>Ro-ASD OS Installer needs root privileges to manage disks, partitions, and system configuration.</description>
    <description xml:lang="tr">Ro-ASD OS Yükleyici, disk yönetimi ve sistem yapılandırması için root yetkisi gerektirir.</description>
    <message>Ro-ASD Yükleyici yönetici izni gerektirmektedir.</message>
    <message xml:lang="tr">Ro-ASD Yükleyici yönetici izni gerektirmektedir.</message>
    <icon_name>drive-harddisk</icon_name>
    <defaults>
      <!-- Live ISO ortamında şifresiz yetki yükseltme -->
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/ro-installer</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
