[Desktop Entry]
Version=1.0
Type=Application
Name=Ro-ASD Yükleyici
Name[en]=Ro-ASD Installer
Name[tr]=Ro-ASD Yükleyici
Comment=Ro-ASD işletim sistemini bilgisayarınıza kurun
Comment[en]=Install Ro-ASD Operating System to your computer
Comment[tr]=Ro-ASD işletim sistemini bilgisayarınıza kurun
# Exec: /usr/bin/ro-installer symlink'i paketleme asamasinda olusturulur.
# Uygulama root degilse main.dart icinden pkexec ile kendini tekrar baslatir.
Exec=/usr/bin/ro-installer
Icon=drive-harddisk
Terminal=false
Categories=System;
Keywords=install;installer;setup;os;roasd;
StartupNotify=true
StartupWMClass=ro_installer
# X-KDE-AuthorizeAction yerine polkit policy kullanılır
