[Desktop Entry]
Name=Install Ro-ASD
GenericName=OS Installer
Comment=Install the Ro-ASD operating system
Exec=pkexec /usr/bin/ro_installer_beta
Icon=drive-harddisk
Terminal=false
Type=Application
Categories=System;Setup;
StartupNotify=true
